{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<table class="cart-table" style="width:80%; text-align:justify; margin:0 auto;">
    <thead>
    <tr>
        <th>№</th>
        <th>Изображение</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <input type="hidden" value="{{product.id}}" id="productId">
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {% if product.image %}
                <a href="{% url 'shop:product_detail' slug=product.slug%}">
                    <img src="{{ product.image.url }}" style="width:30px; height:30px">
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'shop:product_detail' slug=product.slug%}">
                    {{ product.name }}
                </a>
            </td>
            <td>
                <span id="productPrice">{{ product.price|floatformat:0}}</span> руб.
            </td>
            <td>
                <input id="prod_quantity" name="prod_quantity" type="number" min="1"
                       max="100000" value="{{ item.quantity }}">
            </td>
            <td>
                <span id="itemPrice">{{ item.total_price|floatformat:0 }}</span> руб.
            </td>
            <td>
                <a href="{% url 'cart:remove_product' product.id %}">
                    <img class="icon" src="{% static 'img/remove.png' %}">
                </a>
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
</table>
<div style="width:80%; text-align:justify; margin:0 auto; padding-top:50px">
    <div>Товаров в корзине: <span id="cartLength">{{ cart|length }}</span></div>
    <div>Cумма товаров в корзине: <span id="totalPriceCart">{{cart.get_total_price|floatformat:0 }}</span> руб.
    </div>
    <a href="{% url 'cart:remove_cart' %}" class="btn">Очистить корзину</a>
    <div style="padding-top:10px">
        {% if not request.user.id %}
        <a href="#" class="btn-blue" id="newOrder">Оформить заказ</a>
        {% else %}
        <a href="#" class="btn-blue" id="newOrderUser">Оформить</a>
        {% endif %}
    </div>
</div>
{% endblock content %}