{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
<title>Мои заказы</title>
{% endblock title %}

{% block content %}
<style>
    .orders-header{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .order-items{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .order-item{
        display: flex;
        justify-content: space-around;
    }

</style>
<div class="orders">
    <div class="orders-header">
        <div class="order-header">Номер заказа</div>
        <div class="order-header">Способ оплаты</div>
        <div class="order-header">Способ доставки</div>
        <div class="order-header">Дата создания</div>
    </div>
    <div class="order-items">
    {% for order in orders %}
        <div class="order-item">
            <div class="order-number"><a href="{% url 'orders:order_detail' order.number %}"> {{order.number}}</a></div>
            <div class="order-payment">{{order.payment}}</div>
            <div class="order-delivery">{{order.delivery}}</div>
            <div class="order-date">{{order.created_at}}</div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}