{% extends 'shop/base.html' %}

{% block content %}
<diV class="profile_content">
    {% include 'users/profile_base.html' %}
    <div class="forms">
        <h3>Смена пароля</h3>
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Сменить пароль</button>
            <a href="{%url 'users:profile' pk=user.pk %}">
                <button type="button">Вернуться в профиль профиль</button>
            </a>
        </form>
    </div>
</diV>

{% endblock content %}