{% extends 'shop/base.html' %}

{% block title %}
<title>Редактирование профиля</title>
{% endblock title %}

{% block content %}
<diV class="profile_content">
    {% include 'users/profile_base.html' %}
    <div class="profile-form">
        <h3>Редактирование профиля</h3>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn">Сохранить</button>
            <a href="{%url 'users:change-password' %}">
            <button type="button" class="btn">Сменить пароль</button>
            </a>
        </form>
    </div>
</diV>

{% endblock content %}