{% load static %}

{% block content %}

<div class="profile">
    {% if user.image %}
        <img src="{{user.image.url}}" class="photo">
    {% else %}
        <img src="{% static 'img/no_photo.jpg' %}" class="photo">
    {% endif %}
    <div class="profile_username"><a href="{%url 'users:profile' pk=user.pk %}">{{user.username}}</a></div>
    <div class='profile_nav_item'><a href="{%url 'users:change-profile' pk=user.pk %}" class="{% if is_profile_change %}active{% endif %}">Редактировать</a></div>
    <div class='profile_nav_item'><a href="{% url 'shop:like_detail' %}" class="{% if request.path == '/like/' %}active{% endif %}">Избранное</a></div>
    <div class='profile_nav_item'><a href="{% url 'orders:orders' %}" class="{% if is_order_change %}active{% endif %}">Заказы</a></div>
    <div class='profile_nav_item'><a href="{% url 'users:logout' %}" >Выйти</a></div>
</div>


{% endblock content %}