{% load static %}
<html>
<head>
    <title>Доступ запрещён</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Marck+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>403</h1>
            <h2>Доступ запрещён</h2>
        </header>
        <main class="image-container">
            <img src="{% static 'img/error_403.jpg' %}" alt="403">
        </main>
        <footer class="footer">
            <a href="{% url 'shop:index' %}">Перейти к главной странице</a>
        </footer>
    </div>
</body>
</html>