<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="nav-menu">
        <div class="menu-item"><a href="">Главная</a></div>
        <div class="menu-item"><a href="">Корзина</a></div>
        <div class="menu-item"><a href="">Заказы</a></div>
        <div class="menu-item"><a href="">Личный кабинет</a></div>
    </div>
</header>
{% block content %}
{% endblock content %}
</body>
</html>