{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    <title>Пиво</title>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="sidebar">
        <h3>Стили</h3>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'shop:beer_category' category.slug %}"
                       class="{% if current_category.slug == category.slug %}active-category{% endif %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="products-section">
        <h3>{{ current_category.name|default:"Все товары" }}</h3>

        {% if products_page.object_list %}
            <div class="product-grid">
                {% for product in products_page.object_list %}
                    <div class="product-card-all">
                        <a href="{% url 'shop:product_detail' slug=product.slug %}">
                            <div class="product-item__image">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                                {% else %}
                                    <img src="{% static 'img/no_image.jpg' %}" alt="Нет изображения" width="150">
                                {% endif %}
                            </div>
                            <div class="product-item__name">{{ product.name }}</div>
                            <div class="product-item__price">{{ product.price }} ₽</div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Пагинация -->
            <div class="pagination">
                <span class="step-links">
                    {% if products_page.has_previous %}
                        <a href="?page=1">&laquo; Первая</a>
                        <a href="?page={{ products_page.previous_page_number }}">Предыдущая</a>
                    {% endif %}

                    <span class="current-page">
                        Страница {{ products_page.number }} из {{ products_page.paginator.num_pages }}
                    </span>

                    {% if products_page.has_next %}
                        <a href="?page={{ products_page.next_page_number }}">Следующая</a>
                        <a href="?page={{ products_page.paginator.num_pages }}">Последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>Товаров нет.</p>
        {% endif %}
    </div>
</div>
{% endblock %}