{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<diV class="profile_content">
    {% include 'users/profile_base.html' %}
    <div class="products-section">
        {% if products %}
        <h3>Избранные товары</h3>

            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card-all">
                        <a href="{% url 'shop:product_detail' slug=product.slug %}">
                            <div class="product-item__image">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                                {% else %}
                                    <img src="{% static 'img/no_image.jpg' %}" alt="Нет изображения" width="150">
                                {% endif %}
                            </div>
                            <div class="product-item__name">{{ product.name }}</div>
                            <div class="product-item__price">{{ product.price }} ₽</div>
                        </a>
                        <a href="{% url 'shop:like_remove' product_id=product.id %}" class="btn btn-danger">Удалить из избранного</a>
                    </div>
                {% endfor %}
            </div>

            <!-- Пагинация -->
            <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                        <a href="?page=1">&laquo; Первая</a>
                        <a href="?page={{ products.previous_page_number }}">Предыдущая</a>
                    {% endif %}

                    <span class="current-page">
                        Страница {{ products.number }} из {{ products.paginator.num_pages }}
                    </span>

                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}">Следующая</a>
                        <a href="?page={{ products.paginator.num_pages }}">Последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <h3 class="empty">Товаров в избранном нет.</h3>
        {% endif %}
    </div>
</diV>
{% endblock content %}