<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="nav-menu">
        <div class="menu-item"><a href="{% url 'staff:category_add' %}">Добавить категорию</a></div>
        <div class="menu-item"><a href="{% url 'staff:categories' %}">Посмотреть категории</a></div>
        <div class="menu-item"><a href="{% url 'staff:brewery_add' %}">Добавить пивоварню</a></div>
        <div class="menu-item"><a href="{% url 'staff:breweries' %}">Посмотреть пивоварни</a></div>
        <div class="menu-item"><a href="{% url 'staff:product_add' %}">Добавить товар</a></div>
        <div class="menu-item"><a href="{% url 'staff:products' %}">Посмотреть товары</a></div>
    </div>
</header>
<div class="content">
{% block content %}
{% endblock content %}
</div>
</body>
</html>