{% extends 'admin_pages/base.html' %}

{% block content %}

<div>
  {% for product in products %}
  <div>
    <div>
      <a href="{{ product.get_absolute_url }}">
        <b>{{ product.pk }}. {{ product.name }}</b>
      </a>
    </div>
    <div>Категория товара: <span>{{product.category.name}}</span></div>
    <div><i>{{ product.description }}</i></div>
    {% if product.image %}
    <div>
      <img width="200" height="auto" src="{{product.image.url}}">
    </div>
    {% endif %}
    <div>Цена: <span>{{product.price}}</span></div>
    <div>
      {% if product.available %}
        <span>Доступен к продаже</span>
      {% else %}
        <span>Не доступен к продаже</span>
      {% endif %}
    </div>
    <div>Дата создания позиции: <span>{{product.created_ad}}</span></div>
    <br>
  </div>
  {% endfor %}
</div>

{% endblock content %}